 <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>site</title>
    
  
<style type="text/css">
a { text-decoration: none !important; }
a:hover { text-decoration: none !important; }
</style>
</head>
  <body bgcolor="#FF3469" style="text-align: left; padding: 0; margin: 0; background: #FF3469;">
  <table width="650" align="center" border="0" cellspacing="0" cellpadding="0" style="font-family:Calibri, Arial, Helvetica, sans-serif">
    <tr>
      <td style="padding-top:15px;"><img src="images/top-bg.png" width="650" height="17"></td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF" style="padding:0px 10px 0px 10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><a href="#"><img src="images/find-a-helper.png" width="369" height="77" border="0"></a></td>
        </tr>
        <tr>
          <td><font size="+3" color="#5DA82F">Vote for us Neil and you could win £250!</font></td>
        </tr>
        <tr>
          <td><font size="3px" color="#3E3E3E"><p>Dear Neil</p>
            <p>earlypay has been named a winner in the 2011 O2 Smarta 100 awards, a prestigious collection of the UK’s most savviest, enterprising and smartest small businesses.</p>
            <p>There are just 4 days left to vote for the overall winner as voting closes at 6pm on 20th September.</p>
          <p>If you haven't yet voted then it would mean a great deal to us if you could take just 5 seconds of your time to vote by clicking the link below:</p>
          
          <h1><a href="#"><font style="background:#FF3469; font-size:15px; color:#FFFFFF; padding:4px;">Neil PLEASE CLICK HERE TO VOTE FOR earlypay</font></a></h1>
          
          <p>As a small thank you to everyone who votes for us, we are offering a £250 cash prize to one lucky winner.</p>
          
          <p>For a chance to win just click the link above and follow the simple instructions to vote for earlypay
</p>

<p>Once you have voted, answer this simple question:</p>
<p>What colour does the pink 'Vote!' button change to once you have vote?</p>
<p>Send your answers by email to <a href="mailto:win@earlypay"><font color="#FF3469">win@earlypay</font></a></p>
<p>One lucky winner will be picked at random on Wednesday 21st September and the winner will be announced on our Facebook page.</p>
        <h1><a href="#"><font style="background:#FF3469; font-size:15px; color:#FFFFFF; padding:4px;">Keep in touch with us</font></a></h1>
        
        
        <p>For all the latest news, offers and special discounts, make sure you <a href="#"><font color="#FF3469">follow us on Twitter</font></a> and <a href="#"><font color="#FF3469">like us on Facebook</font></a></p>
        
        <p>Thanks again and very best wishes</p>
          <p>The <a href="#"><font color="#FF3469">earlypay</font></a> team</p>
          </font>
          </td>
        </tr>
     
      </table></td>
    </tr>
    <tr>
      <td><img src="images/bottom-bg.png" width="650" height="17"></td>
    </tr>
    <tr>
      <td height="12px"></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="images/top-bg.png" width="650" height="17"></td>
        </tr>
        <tr>
          <td bgcolor="#FFFFFF" align="center"><p style=" margin:0px; color:#F00; font-size:14px;"><a href="#"><font color="#FF3469">Blog</font></a> | <a href="#"><font color="#FF3469">Forward to a friend</font></a> | <a href="#"><font color="#FF3469">Update your profile</font></a></p>
Copyright (C) 2012 site All rights reserved.</td>
        </tr>
        <tr>
          <td style="padding-bottom:14px;"><img src="images/bottom-bg.png" width="650" height="17"></td>
        </tr>
      </table></td>
    </tr>
  </table>
	
  </body>
</html>