 <html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>site</title>
    
  
<style type="text/css">
a { text-decoration: none !important; }
a:hover { text-decoration: none !important; }
</style>
</head>
  <body bgcolor="#FF3469" style="text-align: left; padding: 0; margin: 0; background: #FF3469;">
  <table width="650" align="center" border="0" cellspacing="0" cellpadding="0" style="font-family:Calibri, Arial, Helvetica, sans-serif">
    <tr>
      <td style="padding-top:15px; color:#FFF"><a href="#"><font color="#FFFFFF">Visit our site</font></a> I  <a href="#"><font color="#FFFFFF">site</font></a> I  <a href="#"><font color="#FFFFFF">Looking for help</font></a> I  <a href="#"><font color="#FFFFFF">Child care</font></a></td>
    </tr>
    <tr>
      <td style="padding-top:5px;"><img src="images/top-bg-top.png" width="650" height="20"></td>
    </tr>
    
    <tr>
    <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" style="padding-left:13px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="#"><img src="images/find-a-helper.png" width="369" height="77" border="0"></a></td>
          </tr>
          <tr>
            <td>
            <h1 style="font-size:37px; color:#5DA82F">Best care for your 
loved ones</h1>
            </td>
          </tr>
          <tr>
            <td style="font:20px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><img src="images/arrow.jpg" width="32" height="31"></td>
                <td>Lorem ipsum dolor sit amet </td>
              </tr>
              <tr>
                <td><img src="images/arrow.jpg" width="32" height="31"></td>
                <td>Consectetur adipiscing elit</td>
              </tr>
              <tr>
                <td><img src="images/arrow.jpg" width="32" height="31"></td>
                <td>Ut quis magna quam</td>
              </tr>
              <tr>
                <td><img src="images/arrow.jpg" width="32" height="31"></td>
                <td>Sed odio augue, commodo ac</td>
              </tr>
              <tr>
                <td><img src="images/arrow.jpg" width="32" height="31"></td>
                <td>Nulla facilisi sed leo lacus</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td align="right"><img src="images/babby.jpg" width="256" height="376"></td>
      </tr>
    </table></td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF" style="padding:0px 10px 0px 10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#5DA82F" style="padding:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><font style="font-size:32px; color:#FFF">Need Help?</font></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
          <tr>
            <td align="center" valign="top"><img src="images/help.png" width="94" height="96"></td>
            <td><table width="100%" border="0" cellspacing="4" cellpadding="4">
              <tr>
                <td><font style="font-size:16px; color:#FFFFFF">Are you looking fo a Babysitter? Au pair or Cleaner? Search our <br>
                  database to find help!</font></td>
              </tr>
              <tr>
                <td><a href="#"><img src="images/get-started.png" width="154" height="43" border="0"></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
       <td bgcolor="#FF9333"  style="padding:5px;" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><font style="font-size:32px; color:#FFF">Help Providers</font></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="3" cellpadding="3">
          <tr>
            <td align="center" valign="top"><img src="images/help-provider.png" width="88" height="90"></td>
            <td><table width="100%" border="0" cellspacing="4" cellpadding="4">
              <tr>
                <td valign="top"><font style="font-size:16px; color:#FFFFFF">Sign up today to become a Helper 
and be matched with families 
throughout the UK.</font></td>
              </tr>
              <tr>
                <td><a href="#"><img src="images/get-started.png" width="154" height="43" border="0"></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
</td>
        </tr>
            <tr>
          <td><img src="images/line.jpg" width="628" height="25"></td>
        </tr>
        <tr>
          <td align="center"><font size="+3" color="#5DA82F"><strong>Welcome to site</strong></font></td>
        </tr>
        <tr>
          <td height="131"><font size="3px" color="#3E3E3E">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis magna quam. Sed odio augue, commodo ac dignissim sed, adipiscing ut dui. Nulla facilisi. Sed leo lacus, semper vitae dignissim in, auctor quis ligula. Quisque blandit commodo turpis, quis eleifend sapien eleifend in. Aenean purus arcu, viverra nec egestas quis, suscipit nec elit. Praesent cursus consectetur volutpat. Ut vitae leo ipsum, eu eleifegnissim in, auctor quis ligula. Quisque blandit commodo turpis, quis eleifend sapien eleifend in. Aenean purus arcu, viverra nec egestas quis, suscipit nec elit.
 
          </font>
          </td>
        </tr>
        <tr>
          <td height="32"><img src="images/line.jpg" width="628" height="25"></td>
        </tr>
        <tr>
          <td style="padding-top:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="60%"><table width="93%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="34%"><font size="+2" color="#5DA82F">Find us on</font></td>
                  <td width="66%"><a href="#"><img src="images/facebook.jpg" width="35" height="34" border="0"></a> <a href="#"><img src="images/twitter.jpg" width="34" height="34" border="0"></a> <a href="#"><img src="images/google-plus.jpg" width="34" height="34" border="0"></a> <a href="#"><img src="images/linked.jpg" width="35" height="34" border="0"></a> <a href="#"><img src="images/you-tube.jpg" width="35" height="34" border="0"></a></td>
                </tr>
              </table></td>
              <td width="40%" align="right"><a href="#"><img src="images/sign-up.jpg" width="189" height="38" border="0"></a></td>
            </tr>
          </table></td>
        </tr>
     
      </table></td>
    </tr>
    <tr>
      <td><img src="images/bottom-bg.png" width="650" height="17"></td>
    </tr>
    <tr>
      <td height="12px"></td>
    </tr>
    <tr>
      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
   
        <tr>
          <td align="center">
<font color="#FFFFFF">Copyright (C) 2012 site All rights reserved.</font></td>
        </tr>
        <tr>
          <td style="padding-bottom:14px;">&nbsp;</td>
        </tr>
      </table></td>
    </tr>
  </table>
	
  </body>
</html>