<table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tbody>
  <tr>
   <td align="left" border="0" cellpadding="2" cellspacing="2" font-size-adjust:="" font-size:="" font-stretch:="" font-style:="" font-variant:="" font-weight:="" line-height:="" table="" valign="top" width="100%">
    &nbsp;</td>
  </tr>
 </tbody>
 <tbody>
  <tr>
   <td>
    <strong>Dear</strong> {firstname}</td>
  </tr>
  <tr>
   <td>
    &nbsp;</td>
  </tr>
  <tr>
   <td>
    Please find your new login details listed below:</td>
  </tr>
  <tr>
   <td>
    &nbsp;</td>
  </tr>
  <tr>
   <td>
    <strong>Username:</strong> {username}</td>
  </tr>
  <tr>
   <td>
    <strong>Password: </strong>{password}</td>
  </tr>
  <tr>
   <td>
    &nbsp;</td>
  </tr>
  <tr>
   <td>
    Click Here To <strong><a href="http://www.findahelper.co.uk/auth">Log In</a></strong> Your Account!!</td>
  </tr>
  <tr>
   <td>
    &nbsp;</td>
  </tr>
 </tbody>
</table>
<p>
 &nbsp;</p>
